# eclipse
.classpath
.project
.settings

# maven
target/
*/src/main/java/META-INF/
*.versionsBackup
*.releaseBackup
bin/

# common junk
*.log
*.diff
*.patch
*.sw[a-p]
*.bak
*.backup
*.debug
*.dump

# vim 
.*.sw[a-p]
*~
~*

# intellij / android studio
*.iml
*.ipr
*.iws
.idea/

# Mac filesystem dust
.DS_Store

# pmd
.pmdruleset
.pmd

# netbeans
/nbproject

# merge tooling
*.orig

# test generated content
*/src/test/*/WEB-INF/lib/test*.jar
.flattened-pom.xml
