[access "refs/*"]
	owner = group Administrators
[access "refs/heads/*"]
	create = group ldap/rt.jetty
	forgeAuthor = group ldap/rt.jetty
	push = group ldap/rt.jetty
	label-Code-Review = -2..+2 group ldap/rt.jetty
	label-IP-Clean = -1..+1 group ldap/rt.jetty
	label-Verified = -1..+1 group ldap/rt.jetty
	submit = group ldap/rt.jetty
	abandon = group ldap/rt.jetty
	pushMerge = group ldap/rt.jetty
[project]
	state = active
[access "refs/tags/*"]
	pushTag = group ldap/rt.jetty
