<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
        metadata-complete="false"
        version="3.1">

  <display-name>OpenID Connect Test Web Application</display-name>

  <!-- Security -->
  <login-config>
    <auth-method>DYNAMIC</auth-method>
    <realm-name>Authenticator and LoginService explicitly set so realm name does not matter.</realm-name>
  </login-config>

  <security-role>
    <role-name>**</role-name>
  </security-role>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Authentication Required</web-resource-name>
      <url-pattern>/openid/*</url-pattern>
      <url-pattern>/login</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>**</role-name>
    </auth-constraint>
  </security-constraint>
</web-app>
