body {
	background-color: #FFFFFF;
	margin: 10px;
	padding: 5px;
	font-family: sans-serif;
}

h1.title {
	text-shadow: #000000 -1px -1px 1px;
	color: #FC390E;
	font-weight: bold;
}

table.listing {
	border: 0px;
}

thead a {
	color: blue;
}

thead th {
	border-bottom: black 1px solid;
}

.name, .lastmodified {
	text-align: left;
	padding-right: 15px;
}

.size {
	text-align: right;
}

a {
	color: #7036be;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	font-size:inherit;
}

td {
	font-style: italic;
	padding: 2px;
}



