<?xml version="1.0"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
  version="6.0">
  <display-name>OWB CDI Integration Test WebApp</display-name>

  <!-- Required by org.apache.webbeans.servlet.WebBeansConfigurationListener$Auto -->
  <context-param>
    <param-name>openwebbeans.web.sci.active</param-name>
    <param-value>true</param-value>
  </context-param>

  <resource-env-ref>
    <description>Object factory for the CDI Bean Manager</description>
    <resource-env-ref-name>BeanManager</resource-env-ref-name>
    <resource-env-ref-type>jakarta.enterprise.inject.spi.BeanManager</resource-env-ref-type>
  </resource-env-ref>
</web-app>
