grant {
  permission java.lang.RuntimePermission "setContextClassLoader";
  permission java.lang.RuntimePermission "setIO";
  permission java.lang.RuntimePermission "setSecurityManager";
  permission java.security.SecurityPermission "getPolicy";
  
  permission java.io.FilePermission "/tmp", "read,write";
  permission java.io.FilePermission "/tmp/*", "read,write"; 
  permission java.io.FilePermission "/tmp/foo/bar/*", "read";
}