grant codeBase "file:///foo.jar" {
  permission java.io.FilePermission "/tmp/*", "read,write";
}

grant codeBase "file:///bar.jar" {
  permission java.io.FilePermission "/tmp/*", "read,write";
  permission java.io.FilePermission "/usr/*", "read";
}

grant {

  permission java.util.PropertyPermission "main.class", "read";
}
