<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd"
  version="6.1">

  <display-name>ccd-ee10</display-name>

  <servlet>
    <servlet-name>ccd</servlet-name>
    <servlet-class>org.eclipse.jetty.tests.ccd.ee11.CCDServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>dump</servlet-name>
    <servlet-class>org.eclipse.jetty.tests.ccd.ee11.DumpServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ccd</servlet-name>
    <url-pattern>/redispatch/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>dump</servlet-name>
    <url-pattern>/dump/*</url-pattern>
  </servlet-mapping>

</web-app>