<?xml version="1.0" encoding="UTF-8"?>
<web-app 
   xmlns="https://jakarta.ee/xml/ns/jakartaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
   metadata-complete="false"
   version="6.0">

  <display-name>Test WebApp</display-name>
  
  
  <default-context-path>/thisIsTheDefault</default-context-path>
  <request-character-encoding>ascii</request-character-encoding>
  <response-character-encoding>utf-16</response-character-encoding>

</web-app>


