<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
// ========================================================================
// Copyright (c) 2009 Intalio, Inc.
// 
// All rights reserved. This program and the accompanying materials
// are made available under the terms of the Eclipse Public License v1.0
// and Apache License v2.0 which accompanies this distribution.
// The Eclipse Public License is available at 
// http://www.eclipse.org/legal/epl-v10.html
// The Apache License v2.0 is available at
// http://www.opensource.org/licenses/apache2.0.php
// You may elect to redistribute this code under either of these licenses. 
// Contributors:
//    Hugues Malphettes - initial API and implementation
// ========================================================================
-->
<plugin>
   <extension
         point="org.eclipse.pde.ui.pluginContent">
      <wizard
            class="org.eclipse.jetty.osgi.pde.templates.HelloRFC66WebappNewWizard"
            icon="$nl$/icons/jetty.png"
            id="org.eclipse.jetty.osgi.pde.templates.HelloRFC66WebappNewWizard"
            java="true"
            name="Hello RFC-66 Web-application"
            pureOSGi="true"
            rcp="false"
            requiresActivator="false"
            ui-content="false">
         <description>
            Simple web-application embedded inside an OSGi bundle.
A single servlet declared in /WEB-INF/web.xml
         </description>
      </wizard>
      <wizard
            class="org.eclipse.jetty.osgi.pde.templates.TwoWebappsOneServletHandlerNewWizard"
            icon="$nl$/icons/jetty.png"
            id="org.eclipse.jetty.osgi.pde.templates.TwoWebappsOneServletHandlerNewWizard"
            java="true"
            name="Multiple Jetty webapps embedded in an OSGi bundle"
            pureOSGi="true"
            rcp="false"
            requiresActivator="false"
            ui-content="false">
         <description>
            Two webapps and one servlet handler configured via 3 jetty context files.
         </description>
      </wizard>
   </extension>

</plugin>
