<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="Jetty" >

  <Appenders>
  </Appenders>
  <Loggers>
    <Root level="error">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>

  <Appenders>
    <Console name="console" target="SYSTEM_ERR">
      <PatternLayout>
        <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Pattern>
      </PatternLayout>
    </Console>

    <!--
    <RollingFile name="file" 
      fileName="${jetty.logging.dir}/jetty.log" 
      filePattern="${jetty.logging.dir}/jetty-%d{MM-dd-yyyy}.log.gz" 
      ignoreExceptions="false">
      <PatternLayout>
        <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Pattern>
      </PatternLayout>
      <SizeBasedTriggeringPolicy size="10MB"/>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>
    -->
  </Appenders>

  <Loggers>
    <Root level="info">
      <AppenderRef ref="console"/>
    </Root>
  </Loggers>

</Configuration>

