<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

  <display-name>EE10 Demo Simple WebApp</display-name>

  <!-- using a mime-type and extension that does NOT exist in jetty-http's mime.properties -->
  <mime-mapping>
    <extension>icon</extension>
    <mime-type>image/vnd.microsoft.icon</mime-type>
  </mime-mapping>

  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>org.eclipse.jetty.ee10.demo.simple.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello/*</url-pattern>
  </servlet-mapping>

</web-app>
