// This file contains permissions necessary for jetty-start to operate and to 
// bootstrap jetty
// 
// Once the required processing in jetty-start has completed jetty itself
// is started via XmlConfiguration which executes under AccessController 
// doPrivledged freeing any further permissions being required to this 
// module.

grant codeBase "file:${jetty.home}${/}start.jar" {

   permission java.io.FilePermission "${jetty.home}${/}-", "read";
   
   permission java.lang.RuntimePermission "createClassLoader";
   permission java.lang.RuntimePermission "setContextClassLoader";    
   permission java.security.SecurityPermission "getPolicy";
   permission java.lang.RuntimePermission "accessDeclaredMembers";
   
   permission java.util.PropertyPermission "jetty.home", "read, write";
    
   permission java.util.PropertyPermission "user.home", "read";
     
   permission java.util.PropertyPermission "jetty.class.path", "read, write";
   permission java.util.PropertyPermission "java.class.path", "read, write";
     
   permission java.util.PropertyPermission "repository", "read, write";
     
   permission java.util.PropertyPermission "jetty.lib", "read";
   permission java.util.PropertyPermission "jetty.server", "read";
   permission java.util.PropertyPermission "jetty.host", "read";
   permission java.util.PropertyPermission "jetty.port", "read";
   permission java.util.PropertyPermission "start.class", "read";
     
   permission java.util.PropertyPermission "main.class", "read";  
   permission java.util.PropertyPermission "ISO_8859_1", "read";	 
   permission javax.security.auth.AuthPermission "modifyPrincipals";
	 
	permission javax.security.auth.AuthPermission "modifyPrivateCredentials";
	permission javax.security.auth.AuthPermission "setReadOnly"; 	 
	permission java.lang.RuntimePermission "getClassLoader";	
}