<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
// ========================================================================
// Copyright (c) 2009 Intalio, Inc.
// 
// All rights reserved. This program and the accompanying materials
// are made available under the terms of the Eclipse Public License v1.0
// and Apache License v2.0 which accompanies this distribution.
// The Eclipse Public License is available at 
// http://www.eclipse.org/legal/epl-v10.html
// The Apache License v2.0 is available at
// http://www.opensource.org/licenses/apache2.0.php
// You may elect to redistribute this code under either of these licenses. 
// Contributors:
//    Hugues Malphettes - initial API and implementation
// ========================================================================
-->
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.jetty.osgi.pde.launch.ui.JettyEquinoxLaunchConfiguration"
            delegateDescription="Launch Jetty in OSGi"
            delegateName="%PDELaunchDelegate.name"
            id="org.eclipse.jetty.osgi.pde.launch.ui.jettyosgilaunch"
            migrationDelegate="org.eclipse.pde.internal.ui.launcher.OSGiMigrationDelegate"
            modes="run, debug"
            name="Launch Jetty in OSGi"
            sourceLocatorId="org.eclipse.pde.ui.launcher.PDESourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="$nl$/icons/jetty.png"
            configTypeID="org.eclipse.jetty.osgi.pde.launch.ui.jettyosgilaunch"
            id="org.eclipse.jetty.osgi.pde.launch.jettyLaunchImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="Jetty on OSGi"
            icon="$nl$/icons/jetty.png"
            modes="run, debug"
            class="org.eclipse.jetty.osgi.pde.launch.ui.JettyLaunchShortcut"
            id="org.eclipse.jetty.osgi.pde.launch.runjetty">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                      <count value="1"/>
                      <iterate>
                        <and>
                            <instanceof value="org.eclipse.core.runtime.IAdaptable"/>
                            <test property="org.eclipse.debug.ui.projectNature" value="org.eclipse.pde.PluginNature"/>
                            <or>
                            <adapt type="org.eclipse.core.resources.IProject"/>
                            <test property="org.eclipse.debug.ui.matchesPattern" value="MANIFEST.MF"/>
                            </or>
                         </and>
                      </iterate>
               </with>
           </enablement>
         </contextualLaunch>         
         <configurationType
               id="org.eclipse.jetty.osgi.pde.launch.ui.jettyosgilaunch">
         </configurationType>
         <description
               description="Lauch jetty in OSGi and deploy the OSGi webapps"
               mode="run">
         </description>
         <description
               description="Debug jetty in OSGi and the OSGi webapps"
               mode="debug">
         </description>
      </shortcut>
   </extension>
      <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.eclipse.jetty.osgi.pde.launch.ui.jettyosgilaunch"
            class="org.eclipse.jetty.osgi.pde.launch.ui.JettyOSGiLauncherTabGroup"
            id="org.eclipse.jetty.osgi.pde.launch.ui.EquinoxLauncherTabGroup">
         <launchMode
               description="Create a configuration to launch Jetty in OSGi in debug mode"
               perspective="org.eclipse.debug.ui.DebugPerspective"
               mode="debug">
         </launchMode>
         <launchMode
               description="Create a configuration to launch Jetty in OSGi in run mode"
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
</plugin>
