<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>jettyservletbridge</display-name>
	<servlet id="proxy">
	    <servlet-name>proxy</servlet-name>
	    <display-name>Transparent Proxy Servlet and Equinox Framework Controller</display-name>
	    <description>Transparent Proxy Servlet and Equinox Framework Controller</description>
	    <servlet-class>org.eclipse.jetty.osgi.servletbridge.BridgeServletExtended</servlet-class>
	    <!-- Point to a folder where an equinox installation exists.
	         When this parameter is defined, that equinox installation is launched in place.
             The parameter can also be passed as a system property. -->
	    <init-param>
	        <param-name>osgi.install.area</param-name>
            <param-value>/WEB-INF/eclipse</param-value>
	    </init-param>
	    <!-- Start equinox in a different thread and display a simple
	         a simple status message until it is started. -->
	    <init-param>
	        <param-name>asyncStart</param-name>
	        <param-value>true</param-value>
	    </init-param>
		<init-param>
			<param-name>commandline</param-name>
			<param-value>-console</param-value>			
		</init-param>
		<init-param>
			<param-name>enableFrameworkControls</param-name>
			<param-value>true</param-value>			
		</init-param>
		<!--
		  org.eclipse.equinox.servletbridge and the Servlet API are exported automatically to the underlying OSGi framework.
		  The extendedFrameworkExports parameter allows the specification of additional java package exports.
		  The format is a comma separated list of exports as specified by the "Export-Package" bundle manifest header.
		  For example: com.mycompany.exports; version=1.0.0, com.mycompany.otherexports; version=1.0.0
		  -->
		<init-param>
			<param-name>extendedFrameworkExports</param-name>
			<param-value></param-value>			
		</init-param>
	
		<!-- 
		  You can specify your own framework launcher here.
		  The default is: org.eclipse.equinox.servletbridge.FrameworkLauncher -->
		<init-param>
			<param-name>frameworkLauncherClass</param-name>
			<param-value>org.eclipse.jetty.osgi.servletbridge.FrameworkLauncherExtended</param-value>
			<!--param-value>org.eclipse.equinox.servletbridge.FrameworkLauncher</param-value-->
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
    
    <servlet>
      <servlet-name>dump</servlet-name>
      <servlet-class>org.eclipse.jetty.nested.Dump</servlet-class>
      <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
      <servlet-name>dump</servlet-name>
      <url-pattern>/dump/*</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>proxy</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
</web-app>